{% extends "base.html" %}


{% block page_title %}
illiad-article-handler
{% endblock page_title %}


{% block extra_css %}
{% endblock extra_css %}


{% block content %}

    {% if problem %}
        <h1 id="title_heading">ILLiad article problem</h1>
    {% endif %}

    <div id="info_text">

        {% if problem %}
            <p>There was a problem preparing this article-request for ILLiad.</p>

            <p>The issue: {{ problem|lower }}</p>

            <p>Please try again in a few minutes.</p>

            <p>If the problem persists, contact the Library's Interlibrary Loan office at <a href="mailto:interlibrary_loan@brown.edu">interlibrary_loan@brown.edu</a> or call 401-863-2169.</p>

        {% endif %}

        <div id="clear"></div>

    </div>  <!-- end <div id="info_text"> -->

{% endblock content %}
